.gameContainer{
    height: 100vh;
    width: 100vw;

    background: url("../images/pageDesign/chemBack4.jpg") no-repeat;
    background-size: 100% 100%;
}

.headerBar{
    position: absolute;
    width: 100%;
    height: 12.5%;
    /*background-color: purple;*/
    color:black;

    background: url("../images/pageDesign/chemHeader.png") no-repeat;
    background-size: 90% 100%;
    left:5%;
    top: 1%;
}
.stats{
    position: relative;
    font-size: 1.5em;
    display: inline-block;
    margin-left: 2%;
    left: 10%;
    top: 25%;
}
.resetGame{
    position: relative;
    left: 40%;
    top: 60%;
    width: 10%;
    height: 25%;
    color: black;
}

.infoBoardCont{
    position: absolute;
    height: 80%;
    width: 20%;
    left: 75%;
    top: 15%;

}
.infoBoard{
    position: relative;
    height: 100%;
    width: 100%;

    /*background-color: green;*/
    background: url("../images/pageDesign/chemBorder.jpg") no-repeat;
    background-size: 100% 100%;

    z-index: 10;
    color: black;
}
.gameInfo{
    position: relative;
    font-size: 1.6em;
    color: black;
    margin: 0 8% 0 8%;
    top: 15%;
}
.gameInfoList{
    position: relative;
    font-size: 1.3em;
    color: black;
    top: 15%;
    margin: 0 6% 0 2%
}
.infoBoard a{
    position: absolute;
    font-size: 1.2em;
    left:50%;
    transform: translate(-50%, 0);
    top: 75%;
    color: inherit;
}
.pullOutMenuCont{
    position: relative;
    height: 100%;
    width: 99%;

    top: -100%;

    /*background-color: red;*/
    background: url("../images/pageDesign/pullOutScroll3.png") no-repeat;
    background-size: cover;

    z-index: 9;
}
.pullOutMenuCont img{
    position: relative;
    width: 50%;
    left: 35%;
    margin-top: 40%;
}
.pullOutMenuCont p{
    position: relative;
    width: 40%;
    left: 35%;
    top: 0%;
}
/*.pullOutImg{*/
/*position: relative;*/
/*width: 90%;*/
/*height: 25%;*/
/*left: 5%;*/
/*}*/
/*.pullOutMenuText{*/
/*position: relative;*/
/*}*/
.closePullOut{
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 5%;

    left: 45%;
    top: 75%;
}

.cardArea{
    position: absolute;
    height: 80%;
    width: 60%;
    left: 14%;
    top: 15%;
    /*background-color: blue;*/
    background: url("../images/pageDesign/chemCardBack.jpg") no-repeat;
    background-size: cover;
    border-radius: 5%;
}
.card{
    position: relative;
    width: 10%;
    height: 25%;
    /*background-color: white;*/
    /*background-color: yellow;*/
}
.cardImg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 10%;
}
.valence{
    visibility: hidden;
    position: absolute;

    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.posValence{
    background: radial-gradient(blue 5%, rgba(0, 0, 255, 0.3));
}
.negValence{
    background: radial-gradient(yellow 5%, rgba(255, 255, 0, 0.3));
}

.mixStation{
    position: absolute;
    width: 5%;
    height: 1%;
    z-index: 100;
}
.card1MixTop{
    /*background-color: turquoise;*/

    top: 6%;
    left: 37%;
}
.card1MixCenter{
    /*background-color: turquoise;*/

    top: 15%;
    left: 37%;
}
.card1MixBottom{
    /*background-color: turquoise;*/

    top: 22%;
    left: 37%;
}
.card2MixTop{
    /*background-color: orangered;*/

    top: 6%;
    left: 43%;
}
.card2MixCenter{
    /*background-color: orangered;*/

    top: 15%;
    left: 43%;
}
.card2MixBottom{
    /*background-color: orangered;*/

    top: 22%;
    left: 43%;
}


/*.test{*/
/*visibility: hidden;*/
/*background-color: black;*/
/*left:60%;*/
/*top: 80%;*/
/*}*/


/************ANIMATIONS!*************/

.flipCardOverBack{
    animation-name: flipCardOverBack;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes flipCardOverBack {
    0%   {
        transform: translate(0,0) rotateY(0);
    }
    100%{
        transform: translate(0,0) rotateY(90deg);

    }
}

.flipCardOverFront{
    /*background-color: red;*/
    animation-name: flipCardOverFront;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes flipCardOverFront {
    0%   {
        transform: translate(0,0) rotateY(90deg);
    }
    100%{
        transform: translate(0,0) rotateY(0deg);

    }
}


.flipCardBackBack{
    animation-name: flipCardBackBack;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes flipCardBackBack {
    0%   {
        transform: translate(0,0) rotateY(0);
    }
    100%{
        transform: translate(0,0) rotateY(90deg);

    }
}

.flipCardBackFront{
    animation-name: flipCardBackFront;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes flipCardBackFront {
    0%   {
        transform: translate(0,0) rotateY(90deg);
    }
    100%{
        transform: translate(0,0) rotateY(0deg);

    }
}

.pullOutMenuFor{
    animation-name: pullOutMenuFor;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes pullOutMenuFor {
    0%   {
        transform: translate(0,0);
    }
    100%{
        transform: translate(-99%,0) scaleX(1.25);
    }
}
.pullOutMenuReverse{
    animation-name: pullOutMenuReverse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@-webkit-keyframes pullOutMenuReverse {
    0%   {
        transform: translate(-99%,0) scaleX(1.25);
    }
    100%{
        transform: translate(0,0);
    }
}




#videoModal, #winModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .closeWin{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}